{% comment %} {% extends "base.html" %} {% endcomment %}
{%load crispy_forms_tags%}
{% load static %}

{% block title %} 
 {% comment %} Confirm_Password-Detail {% endcomment %}
{% endblock %}  

{% block content %}

<main>
    <div id="form_section" class=" container justify-content-center ">   
        <form method="POST">
        
            <div class="border-bottom pt-3 mb-3">
                <h1 class="h3 mb-3 font-weight-normal">Password Confirm</h1>
            </div>
            {% csrf_token %}
            <div class="form-group">
                {{form|crispy}}
            </div>          
            <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Verify and Confirm</button>
            </div>
        </form>   
    </div>
</main>

{% endblock %}