  
{% extends "base.html" %} 
{% load static %} 
{% block title %} 
    Update
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "articles/style/article.css" %}">
{% endblock %}

{% block content %}

  <section id="article-form" class="container">

    <h6>Update Article</h6>
          <div class="form-group">
                 <a class="btn btn-outline-info" href="article-delete.html">Delete
                 </a>
        </div>
     
    <form class="form-control" action="" method="POST">
      {% csrf_token %}{{form.as_p}}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
  </section>

  {% endblock %}