  
{% extends "base.html" %} 
{% load static %} 
{% block title %} 
Create Article
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "articles/style/add_article.css" %}">
{% endblock %}

{% block content %}

  <section id="article-form" class="container">

    <h6>Create Article:</h6>

    <form class="form-control" action="" method="POST">
      {% csrf_token %}
      {% for form_field in article_form %}
        <div class="form-group {% if form_field.errors %}invalid{% endif %}">
              {{ form_field.label_tag }}
              {{ form_field }}
              {{ form_field.errors }}
        </div>
      {% endfor %}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Add</button>
        </div>
    </form>
  </section>

  {% endblock %}