{% extends "base.html" %} 
{% load static %}

{% block title %} 
Home
{% endblock %} 

{% block css_files %}

  <link rel="stylesheet" href="{% static "articles/style/home.css" %}"
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <section id="main-section">
      <h1>List of Articles</h1>
      <div class="container">
        {% for article in articles %}
          <div class="row article-container">
            <a class="article-data" href="">
              <article class="article-row">
                {% if article.slug|stringformat:'s' != 'None' %}
                  <div class="h3">{{ article.slug }}</div>
                {% endif %}
                {% if article.name|stringformat:'s' != 'None' %}
                  <div class="h3">{{ article.name }}</div>
                {% endif %}
                <dl class="row">
                  {% if article.designed_by|stringformat:'s' != 'None' %}
                    <dt class="col-sm-6">Designed by</dt>
                    <dd class="col-sm-6">{{ article.designed_by }}</dd>
                  {% endif %}
                  {% if article.developer|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Developer</dt>
                    <dd class="col-sm-9">{{ article.developer }}</dd>
                  {% endif %}
                  {% if article.article_name|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3"></dt>
                    <dd class="col-sm-9">{{ article.article_name }}</dd>
                  {% endif %}
                  {% if article.born|stringformat:'s' != 'None' %}
                    {% if article.died|stringformat:'s' != 'None' %}
                      <dt class="col-sm-3">Lived from</dt>
                      <dd class="col-sm-9">{{ article.born }} to {{ article.died }}</dd>
                    {% else %}
                      <dt class="col-sm-3">Born in</dt>
                      <dd class="col-sm-9">{{ article.born }}</dd>
                    {% endif %}
                  {% endif %}
                  {% if article.nationality|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Nationality</dt>
                    <dd class="col-sm-9">{{ article.nationality }}</dd>
                  {% endif %}
                  {% if article.dimensions|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Dimensions</dt>
                    <dd class="col-sm-9">{{ article.dimensions }}</dd>
                  {% endif %}
                  {% if article.known_for|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Known for</dt>
                    <dd class="col-sm-9">{{ article.known_for }}</dd>
                  {% endif %}
                  {% if article.notable_work|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Notable work</dt>
                    <dd class="col-sm-9">{{ article.notable_work }}</dd>
                  {% endif %}
                  {% if article.location|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Location</dt>
                    <dd class="col-sm-9">{{ article.location }}</dd>
                  {% endif %}
                  {% if article.medium|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Medium</dt>
                    <dd class="col-sm-9">{{ article.medium }}</dd>
                  {% endif %}
                  {% if article.year|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Year</dt>
                    <dd class="col-sm-9">{{ article.year }}</dd>
                  {% endif %}
                  {% if article.category|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Category</dt>
                    <dd class="col-sm-9">{{ article.category }}</dd>
                  {% endif %}
                  {% if article.type|stringformat:'s' != 'None' %}
                    <dt class="col-sm-3">Type</dt>
                    <dd class="col-sm-9">{{ article.type }}</dd>
                  {% endif %}
                </dl>
                {% if article.about|stringformat:'s' != 'None' %}
                  <div class="">{{ article.about }}</div>
                {% endif %}
                <div class="form-group mt-3">
                  <a class="article-data btn btn-outline-danger " href="{% url "delete-page" article.slug %}">Delete</a> 
                  <a class="article-data btn btn-outline-info" href="{% url "update-page" article.slug %}">Update</a>
              </div>
              </article>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  {% else %}
  {% endif %}
{% endblock %}