{% extends "base.html" %} 
{% load static %}

{% block title %} 
Home
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "articles/style/home.css" %}"
{% endblock %}


{% block content %}
<section id="main-section">
  <h2>List of Articles</h2>
  <div class="container">
      {% for article in articles %}
      

      <div class="row article-container">
              <a class="article-data" href="">
          
             <article class="article-row">
                    <div class="">{{ article.article_name}}</div>
                    <div class="">{{ article.date_born}}</div>
                    <div class="">{{ article.date_died}}</div>
                    <div class="">{{ article.nationality}}</div>
                    <div class="">{{ article.know_for}}</div>
                    <div class="">{{ article.notable_work}}</div>
                    <div class="">{{ article.about}}</div> 
            </article>
               </a> 
    
      </div> 

      {% endfor %}

  </div>


</section>

{% endblock %}
