{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>

  <link rel="icon" href="data:;base64,iVBORw0KGgo=">

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

  <link rel="stylesheet" href="{% static "app.css" %}">

  {% block css_files %}{% endblock %}

</head>


<body class="d-flex flex-column ">

   <header id="container">



    <nav class="navbar navbar-expand-lg navbar-light bg-primary" id="mainNav">
        <div class="container-fluid px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'home-page' %}">
                <img src="{% static "articles/images/logo.jpg" %}" idth="100" height="75" margin="5" alt="Discovery's logo" class="d-inline-block align-top"
                    loading="lazy" style="mix-blend-mode: multiply;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" style="pointer-events: none">
                                Hi {{ user.username }}!
                            </a>                                        
                        </li>
                        {% comment %} <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url '' %}">Admin</a>
                        </li> {% endcomment %}
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url "article-create" %}">Add Article</a>
                        </li>             
                         <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4 me-2" href="{% url 'logout' %}">
                                Logout
                            </a>
                        </li> 
                    </ul> 
                    <ul class="navbar-nav">

                    {% else %}
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item me-2">
                            <a class="nav-link" href="{% url 'login' %}">
                                Login
                            </a>
                        </li>              
                        {% comment %} <li class="nav-item me-2">
                            <a class="nav-link" href="{% url 'signup' %}">
                                Sign up
                            </a>
                        </li> {% endcomment %}                 
                    </ul>
                    {% endif %}

                    {% comment %} <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li>
                            <form action="{% url 'search_results' %}" method="get">
                                <input name="q" type="text" placeholder="Search..." />
                            </form> 
                        </li>
                    </ul>
                     {% endcomment %}
            </div>
        </div>    
    </nav>


  </header>

  {% block content %}
  
  {% endblock %}

  {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script> {% endcomment %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>